#selectedEkilist {
  /* position: absolute; */
  position: relative;
  /* float: left; */
  /* left: 150px; */
  padding-left: 40px;
  padding-top: 20px;
  display: inline-block;
  color: #fff;
}

.ekilist {
  font-size: 10px;
  text-align: center;
  /* background-color: #929ea3; */
  background-color: rgba(128, 128, 128, 0.9);
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  margin: 0.2rem;
  border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
  border-color: rgba(128, 128, 128, 0.9);
}
